#header {
	display: flex;
	position: relative;
	margin-left:165px ;
	margin-right: 165px;
}
.a{
	margin:15px 0 0;
	color:#000000;
	font-size:19px
}
.b{
	margin:10px 0 0;
	color:#D30000;
	font-size:18px
}
.name{
	padding-left: 56px
}
.logo-right{
	padding-top: 15px;
	padding-left: 400px
}
a{
	text-decoration: none;
	color: black;
}
.sub-menu a{
	color:#5f5f5f ;
}
.navbar{
	width: 1000px;
	top: 0px;
	left: 355px;
}
.navbar ul{
	list-style-type: none;

}
.navbar ul li{
	font-size: 18px;
	float: left;
	margin: 10px;
	position: relative;
}

.navbar ul li:hover{
	text-decoration: underline #d30000;	
	color: #d30000;

}
.navbar ul .sub-menu{
	margin: 0px;
	padding:  0px;
	position: absolute;
}
.navbar ul .sub-menu li{
	margin: 0px;
	padding:  0px;
	clear: left;
	font-size: 16px;
	color: #5f5f5f;
	text-decoration: none;
	width: 160px;
	background-color:#F2F2F2;
	line-height: 40px; 
}
.navbar ul ul{
	display: none;
}
.navbar ul li:hover>ul{
	display: block;
}
.navbar ul ul ul{
	top: 0px;
	margin-left: 120px;
	position: absolute; 
}
hr {
	background: #d30000;
	border: 0;
	height: 5px;
	margin: 0px 
}
#carouselExampleIndicators{
left: 165px;
right: 165px;
height: 461px;
width: 1194.810px;

}

.navbar{
z-index: 2
}
.body{
z-index: 1
}